asgiref==3.7.2
Django==3.2.16
django-cors-headers==3.14.0
django-environ==0.10.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.6
gunicorn==20.0.4
inflection==0.5.1
mysqlclient==2.1.1
packaging==23.1
PyJWT==2.7.0
pytz==2023.3
PyYAML==6.0
sqlparse==0.4.4
typing_extensions==4.6.3
uritemplate==4.1.1
whitenoise==6.5.0
