asgiref==3.7.2
cffi==1.15.1
cryptography==41.0.1
Django==3.2.16
django-environ==0.10.0
django-filter==23.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.6
inflection==0.5.1
packaging==23.1
pycparser==2.21
PyJWT==2.7.0
PyMySQL==1.0.3
pytz==2023.3
PyYAML==6.0
sqlparse==0.4.4
typing_extensions==4.6.3
uritemplate==4.1.1
whitenoise==6.5.0
